body {
    font-family: "Times New Roman", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .header {
    font-size: 48px;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 560px;
    background: rgb(172, 172, 172);
    border-radius: 20px;
    border: 3px solid black;
  }
  
  .display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: lightgrey;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    margin: 25px;
    border: 2px solid black;
  }
  
  .display .current-input {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    font-size: 24px;
  }
  
  
  .display .past-input {
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: 16px;
  }
  
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightgrey;
    transition: 0.2s;
  }
  
  #clear-button,
  #delete-button {
    width: 173px;
    height: 75px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
  }
  
  #delete-button {
    background: rgb(250, 160, 160);
  }
  
  #delete-button:hover {
    background: rgb(235, 135, 135);
    transition: 0.2s;
  }
  
  #clear-button {
    background: rgb(174, 160, 255);
  }
  
  #clear-button:hover {
    background: rgb(159, 145, 230);
    transition: 0.2s;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    gap: 3px;
    margin: 2px;
  }
  
  .buttons button {
    width: 85px;
    height: 75px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid black;
  }
  